
.menu{
    display: inline-block;
    width: 620px;
    height: 15px;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: Montserrat;
    text-transform: uppercase;
    color:#f00;
    padding: 31.5px 330px;
}
li {
    display: inline-block;
    text-align: center;
    margin-right: 72px;
}
.link{
    text-decoration: none;
    color: #f00;
}
.menu .item3{
    margin-right: 50px;
}
.menu .item4{
    margin-right: 0px;
}
.main-banner{
    width: 1200px;
    height: 789px;
}
h2  {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}
p {
    font-family: Montserrat;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2.4px;
    line-height: 26px;
    margin-top: 30px;
}
button{
    display: block;
    background-color: #f00;
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 12px;
    color: white;
    border-width: 0;
    width: 191px;
    height: 51px;
    letter-spacing: 1.8px;
    margin: 0 auto;
}
.container .footer{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    padding-left: 608px;
    margin-bottom: 29px;
}
.item1{
    text-decoration: none;
}
.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
}